$black: #000000;
$blackTransparent: #00000060;
$fontColor: #4b587c;
$borderColor: #ebecee;
$categoryColor: #4b587c;
$categoryBackground: #eef2ff;
$headingColor: #21293c;
$courseColor: #667190;
$borderContentColor: #d9e1ec;