.hamburger-menu {
  position: absolute;
  left: 10px;
  top: 34px;
  z-index: 4;

  &__bar {
    width: 35px;
    height: 4px;
    background-color: $white;

    &:nth-child(2) {
      margin: 6px 0;
    }
  }

  @include break(1023) {
    display: none;
  }
}