.header {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background: $blue;

    @include break(1023) {
      justify-content: space-between;
    }

    @include break(1300) {
      padding: 20px 70px;
    }
  }
}
