.header {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid $borderColor;

    @include break(1023) {
      justify-content: space-between;
    }
  }

  &__bottom {

  }
}
